#usage: 1) activate environment 2) pip3 install -r requirements.txt
#maybe ist necessary to run before: python.exe -m pip install --upgrade pip

fastapi>=0.111.0
uvicorn[standard]>=0.30.0
#gunicorn is Unix-only, use "uvicorn plainbi_backend.api:create_app --factory" directly on Windows
bcrypt>=4.1.2
hjson>=3.1.0
ldap3>=2.9.1
openpyxl>=3.1.2
pandas>=2.0.2
pymssql>=2.2.7
oracledb
mysqlclient>=1.3.14
psycopg2>=2.8.6
PyJWT>=2.7.0
python-dotenv>=1.0.0
SQLAlchemy>=2.0.15

