/* index.css overwrite */
main:has( .dashboardcontainer) {
  /*padding: 0px !important;*/
  background: #f5f5f5 !important; 
}
/* index.css overwrite */
.site-layout-content:has( .dashboardcontainer)  {
  /*padding: 0px !important;*/
}

/* stop table from exceeding the size of the surrounding card */
.react-grid-item {
  display:flex;
}
.ant-card-body {
  height:calc(100% - 50px);
}
.ant-table-wrapper {
  height: 100%;
}
.ant-spin-nested-loading {
  height: 100%;
}
.ant-spin-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.ant-table {
  flex: auto;
  overflow: hidden;
}
.ant-table-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.ant-table-header {
  flex: none;
}
.ant-table-body {
  flex: auto;
  overflow: scroll;
}
.ant-table-pagination {
flex: none;
}

/* hide page header buttons on fullscreen */
@media all and (display-mode: fullscreen) {
  .ant-page-header-heading-extra {
    display: none;
  }
}

.chart_legend {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}