/* add google font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.App {
  padding: 20px;
}
#header_logo{
  max-height: 60px;
  max-width: 120px;
  line-height: 60px;
} 
#header_logo > img {
  max-height: 60px;
} 
* {
  font-family: Inter, Roboto, Arial, sans-serif !important; /* set overall font family */
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  /*background-color:#fff;*/
}
.layout {
  min-height: 100vh; /* uses 100% height for the layout component, that brings the footer to the bottom of the page */
}
header {
  background: #fff !important; /* change background color of table header row - overwrites default */
  border-bottom: 1pt solid rgb(220, 220, 220, 1) !important; /* add border line to bottom of header - navbar */
}
main {
  background: #fff !important; /* change background color of main - overwrites default */
  /*background: #f5f5f5 !important; */
  /*padding: 20px 50px !important;*/ /* add 20px padding to top and bottom - overwrites default "0px 50px" */
  padding: 0px 50px !important;
}
header h1 {
  text-transform: uppercase;
  font-size: 14px !important;
  line-height: 50px !important;
  padding-top: 2px;
}
.ant-table-thead > tr > th {
  background-color: #fff !important; /* change background color of table header row - overwrites default */
}
.inactive {
  color: rgba(0, 0, 0, 0.29);
}
.ant-table-column-sorter {
  display: none;
}
.ant-table-column-title {
  /*overflow-wrap: anywhere;*/
}
.th-div-custom {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
}
.th-div-custom-title {
  position: relative;
  z-index: 1;
  flex: 1;
}
.right {
  float: right;
}
header .anticon {
  font-size: 18px; /* overwrite icon size in header */
}
header a .anticon {
  font-size: 18px; /* overwrite icon size in header */
  color: rgba(0, 0, 0, 0.88);
}
a .anticon {
  font-size: 18px; /* overwrite icon size in header */
  color: rgba(0, 0, 0, 0.88);
}
a:hover .anticon {
  color: rgb(106, 145, 206); /* rgba(24, 144, 255, 0.88); */
}
.pageheader {
  padding-inline: 0px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  overflow: hidden;
  white-space: nowrap;
  border: none !important;
}
table * a {
  color: rgba(0, 0, 0, 0.88) !important
  /*color: rgb(106, 145, 206) !important;;*/
}
table * a:hover {
  color: rgb(106, 145, 206) !important;
}
header a:hover .anticon {
  color: rgb(106, 145, 206); /* rgba(24, 144, 255, 0.88); */
}
table .anticon {
  font-size: 20px; /* overwrite icon size in tables */
}
.ant-card-meta-title {
  font-size: 14px !important;
  /*text-align: center;*/
}
.sqlcode {
  font-family: monospace !important;
}
.filled {
  background-color:rgb(230, 244, 255) ;
  border-color:rgb(230, 244, 255) ;
}
.center {
  display:flex;
  justify-content:center;
  align-items:center;
  height:'100vh';
}
.login {
  margin-top:50px;
  margin-left:30%;
  margin-right:30%;
  margin-bottom:100px;
}
div.monaco-editor * {
  font-family: Consolas, "Courier New", monospace !important;
}
.markdowncontainer {
  display:flex;
}
.markdowncontainer_editor {
  width: 50%;
  overflow: auto;
}
.markdowncontainer_result {
  width: 50%;
  padding: 1em;
}

div.monaco-editor-wrapper {
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 1px;
  margin-right: -1px;
}
/*
div.monaco-editor {
  background-color:white;
  border-color: #d9d9d9 !important;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
}
*/

.tag {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  /*font-size: 10px;*/
  line-height: 19px;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  display: inline-block;
  height: auto;
  margin-inline-end: 8px;
  padding-inline: 7px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  opacity: 1;
  transition: all 0.2s;
  text-align: start;
  text-transform: uppercase;
}
.tag-blue {
  color: #0958d9;
  background: #e6f4ff;
  border-color: #91caff;
}
.tag-red {
  color: #cf1322;
  background: #fff1f0;
  border-color: #ffa39e;
}
.tag-magenta {
  color: #c41d7f;
  background: #fff0f6;
  border-color: #ffadd2;
}
.tag-green {
  color: #389e0d;
  background: #f6ffed;
  border-color: #b7eb8f;
}
.tag-gold {
  color: #d48806;
  background: #fffbe6;
  border-color: #ffe58f;
}

/* for big tooltips overwrite the default width of 250px */
.ant-tooltip {
  max-width: 80vw !important;
}
