.split-pane-col {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .split-pane-row {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .split-pane-top,
  .split-pane-bottom,
  .split-pane-right,
  .split-pane-left {
    flex: 1;
    overflow: hidden;
  }
  
  .split-pane-right {
    background-color: #fff;
    background-image: linear-gradient(
        90deg,
        transparent 79px,
        #abced4 79px,
        #abced4 81px,
        transparent 81px
      ),
      linear-gradient(#eee 0.1em, transparent 0.1em);
    background-size: 100% 1.2em;
  }
  
  .split-pane-top,
  .split-pane-bottom {
    background-color: #ccc;
    text-align: left;
    padding: 2%;
  }
  